/* Write your CSS here */
/* Write your CSS here */
.item_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  list-style: none;
}

.event_image {
  /* width: 320px;
  height: 180px; */
  width: 120px;
  height: 80px;
  border-radius: 5px;
}
/* 
.event_image:hover {
  border: 2px solid green;
} */

.event_name {
  color: white;
  font-weight: bold;
  /* font-size: 20px; */
  font-size: 14px;
  margin-bottom: 2px;
}

.event_location {
  color: white;
  font-weight: bold;
  /* font-size: 15px; */
  font-size: 10px;
}

.active_event_item {
  border: 2px solid rgb(235, 170, 6);
}

.img_buttons {
  border: none;
  background-color: transparent;
  outline: none;
}
